<% @posts.each do |post| %>                             <!-- iterating through each post -->
  <div><%= link_to post.title, post_path(post) %></div> <!-- set a link_to to the post.id named 'post.title' -->
<% end %>